<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">

    <title>Payment</title>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/app-user/list}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home-owner/list}">Home Owners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/house/list}">Houses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/payment/list}">Payments</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br/>
    <br/>

    <!-- Add App User Button -->
    <a th:href="@{payment-form}" class="btn btn-primary btn-sm mb-3">
        Add Payment
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Payed Date</th>
            <th>Amount</th>
            <th>Captured Date</th>
            <th>Last Updated</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="payment : ${paymentList}">
            <td th:text="${payment.getPayedDate()}"/>
            <td th:text="${payment.getAmount()}"/>
            <td th:text="${payment.getCaptured()}"/>
            <td th:text="${payment.getLastUpdated()}"/>
            <!-- Add update button link -->
            <td>
                <!-- Appends to URL ?appUserId=xxx -->
                <a th:href="@{update(paymentId=${payment.getId()})}" class="btn btn-info btn-sm">
                    Update</a>

                <!-- Delete button/link  -->
                <a th:href="@{delete(paymentId=${payment.getId()})}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this page?'))) return false">
                    Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>